@model Laboratorio4_MVC_Ticona.Models.ClsParImpar
@{
    ViewBag.Title = "MostrarParesImpares";
}

@using (Html.BeginForm("CalcularParesImpares", "ParImpar", FormMethod.Post))
{
    <br />
    <br />
    <div class="form-group">
        @Html.LabelFor(model=>model.Numero,"Ingrese número #1:")
        @Html.TextBoxFor(model=>model.Numero,new { @class="form-control"})
    </div>
    <br />
    <button class="btn btn-primary">Calcular</button>
}

