@model Laboratorio1_MVC_Ticona.Models.ClsSuma
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Suma2</title>
</head>
<body>
    <div>
        <h1><center>Resultado de la suma de dos números:</center></h1>
        <label>Número 1: </label>
        <input type="text" value="@Model.numero1" /><br />
        <label>Número 2: </label>
        <input type="text" value="@Model.numero2" /><br />
        <label>Resultado:</label>
        <input type="text" value="@Model.resultado" /><br />
    </div>
</body>
</html>
