@model Laboratorio4_MVC_Ticona.Models.ClsEjercicio6
@{
    ViewBag.Title = "CalcularAnios";
    Layout = "~/Views/_ViewStart.cshtml";
}

@{ 
    Model.Bisiesto = "";
    Model.NoBisiesto = "";
    Model.Resltado = "";
    for (int i = Model.Incial; i < Model.Final; i++)
    {
        Model.Todo += i + ", ";
        if (i % 400 == 0)
        {
            Model.Bisiesto = Model.Bisiesto + i + "\n";
        }
        else if (i % 4 == 0 && i % 100 != 0)
        {
            Model.Bisiesto += i + "\n";
        }
        else {
            Model.NoBisiesto += i + "\n";
        }
    }
    if (Request["Anio"] == "Mostrar Bisiestos")
    {
        Model.Resltado = Model.Bisiesto;
    }
    if (Request["Anio"] == "Mostrar No Bisisestos")
    {
        Model.Resltado = Model.NoBisiesto;
    }
    if (Request["Anio"] == "Mostrar Todos")
    {
        Model.Resltado = Model.Todo;
    }
}
<h2><strong>@Request["Anio"]</strong></h2>
<div class="alert alert-info">
    <strong>@Model.Resltado</strong>
</div>
<a class="btn btn-info" href="javascript:history.back()">Resgresar</a>