
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>SelectMany</title>
</head>
<body>
	<div>
		<h1>Listar meses por caracteres</h1>
		<br />
		@Html.TextAreaFor(m => ViewData["Resultado"], new { rows = "20", cols = "10" })
		<div>
		</div>
	</div>
</body>
</html>
