
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Where2</title>
</head>
<body>
	<div>
		<h1>Listar meses en una búsqueda</h1>
		<br />
		@Html.TextAreaFor(m => ViewData["Resultado"], new { rows = "20", cols = "30" })
	</div>
</body>
</html>
